
.container{
    background-color: beige;
    font-family: monospace;
}

h1{
    text-align: center;
}

.items{
    padding: 0px;
    text-align: left;
    display: flex;
}
.items span {
    margin-left: auto;
}
